<!doctype html>
<html lang="{{site.Language.LanguageCode}}">
<head>
	<meta name="keywords" content="Noosa,computer,club,code,program,community,group">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="/favicon.ico">
	{{$style := resources.Get "global.css" | resources.ToCSS | resources.Minify}}
	<link rel="stylesheet" href="{{$style.Permalink}}">

	<link rel="canonical" href="{{.Permalink}}">
	<title>{{.Site.Title}}</title>
	<meta name="description" content="{{.Description}}">

	<meta property="og:title" content="{{.Site.Title}}">
	<meta property="og:description" content="{{.Description}}">
	<meta property="og:image" content="/banner.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{.Permalink}}">
</head>
<body>
	<nav>
		<a href="/">home</a>
		<a href="/meets">meets</a>
		<a href="/merch">merch</a>
		<a href="https://codeberg.org/hacc">codeberg</a>
	</nav>
	{{block "main" .}}{{end}}
</body>
</html>
