body {
	max-width: 37rem;
	font-size: 1rem;
	margin: auto;
}
h1:first-of-type {
	margin-top: 0;
}
nav {
	display: flex;
	gap: 1rem;
	margin: 0.7rem 0;
	padding: 0.7rem 0;
	border: dashed gray;
	border-width: 1px 0 1px 0;
}
@media (max-width: 38rem) {
	body {
		margin: 0 1rem;
	}
}
